 

<section id="hero">
    <div id="heroCarousel">

 
        <div class="hero_text_container">
            <div class="hero_text_container1">
                <div class="hero_text">
                    <h2 class="hero_title">Bievenidos a <span>Daily Web</span></h2>
                    <p class="hero_subtitle">Somos un equipo de programadores y diseñadores Web que llevamos a cabo Sitios Web con las últimas tendencias en diseño y programación para pequeñas y grandes empresas. Mantenemos una estructura que nos permite desarrollar Sitios Web integrales para cada caso. Trabajamos de manera conjunta con nuestros clientes para lograr una rápida y eficaz solución a cada problema, asesorando y coordinando hasta el último detalle.</p>
                    <a href="#contact"><button type="submit" class="hero_btn"><span>Contáctanos</span></button></a>
                </div>
                <img src="~/assets/img/img_inicio.svg" class="hero_img"/>
            </div>
        </div>    
    </div>
        

      

   

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(000,000,000, .1)" />
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(0,0,0, .2)" />
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="rgba(0,0,0, .3)" />
        </g>
    </svg>
</section>
