 <!-- ======= Hero Section ======= -->

<section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Bievenidos a <span>Daily Web</span></h2>
                <p class="animate__animated fanimate__adeInUp">Somos un equipo de programadores y diseñadores Web que llevamos a cabo Sitios Web con las últimas tendencias en diseño y programación para pequeñas y grandes empresas. Mantenemos una estructura que nos permite desarrollar Sitios Web integrales para cada caso. Trabajamos de manera conjunta con nuestros clientes para lograr una rápida y eficaz solución a cada problema, asesorando y coordinando hasta el último detalle.</p>
                <img src="~/assets/img/fondoit.jpg" width="210" height="150"/>
            </div>
                    </div>
                </li>
            </div>
        </div>

      

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="rgba(255,255,255, .3)">
        </g>
    </svg>
</section>
<!-- End Hero -->
