@{
    List<Entidades.Usuario> listaUsuarios = Servicios.Usuarios.Listar();

    listaUsuarios = listaUsuarios.Where(x => x.TipoUsuario == Entidades.Enumerables.TipoUsuario.Cliente).ToList();



}


<section id="testimonials" class="testimonials">
    <div class="container">

        <div class="section-title" data-aos="zoom-out">
            <h2>Testimonios</h2>
            <p>Empresas con las que Trabajamos</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                @{ int i = 1;}
                @foreach (var item in listaUsuarios)
                {
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                @item.Descripcion
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>

                            @{ string urlmodificada = item.UrlPerfil + "?random=" + i.ToString(); }
                            <img src=@urlmodificada class="testimonial-img" alt="">

                            @{
                                <h3>@item.Nombre</h3>
                            }
                            @{i = i + 1;
                            }
                        </div>
                </div>
            }



               

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>
