@{
    List<Entidades.Usuario> listaUsuarios = Servicios.Usuarios.Listar();

    listaUsuarios = listaUsuarios.Where(x => x.TipoUsuario == Entidades.Enumerables.TipoUsuario.Cliente).ToList();



}

<section id="testimonials" class="testimonials">
    <div class="container">

        <div class="section-title aos-init aos-animate" data-aos="zoom-out">
            <h2>Empresas con las que Trabajamos</h2>
            
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                @{ int i = 1;}
                @foreach (var item in listaUsuarios)
                {

                <div class="swiper-slide swiper-slide-prev" role="group" aria-label="1 / 5" style="width: 337px; margin-right: 20px;" data-swiper-slide-index="0">
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                @item.Descripcion
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>

                            @{ string urlmodificada = item.UrlPerfil + "?random=" + i.ToString(); }
                            <img src=@urlmodificada class="testimonial-img" alt="">

                            @{
                                <h3>@item.Nombre</h3>
                                <h3>@item.Apellido</h3>
                            }
                            @{i = i + 1;
                            }
                        </div>
                    </div>
                </div>                
                }

                </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span>
            <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 2" aria-current="true"></span>
            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span>
            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span>
            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5"></span>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>

    </div>
</section>