<section id="contact" class="contact">
    <div class="container">

        <div class="section-title aos-init aos-animate" data-aos="zoom-out">
            <h2>Contacto</h2>
            <p>Contactenos</p>
        </div>

        <div class="row mt-5">

            <div class="col-lg-4 aos-init aos-animate" data-aos="fade-right">
                <div class="info">
                
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Dirección:</h4>
                        <p>Av 9 de Julio, 2345, CABA</p>

                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>Daily.Web.Empresa@gmail.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Whatsapp</h4>
                        <br />
                          <p><a href="https://wa.me/+1567899054" style=" font-family: sans-serif; text-decoration: none; margin: 1em auto; color: #fff; font-size: 0.9em; padding: 1em 2em 1em 3.5em; border-radius: 2em; font-weight: bold; background: #25d366 url('https://tochat.be/click-to-chat-directory/css/whatsapp.svg') no-repeat 1.5em center; background-size: 1.6em;">+15 67899054</a></p>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0 aos-init aos-animate" data-aos="fade-left">

                <form action="/Usuarios/ProcesarForm" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required="">
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email" required="">
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" required="">
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required=""></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Cargando</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Su mensaje ha sido enviado. Muchas gracias!</div>
                    </div>
                    <div class="text-center"><button type="submit">Enviar</button></div>
                </form>

            </div>

        </div>

    </div>
</section>
