@{ 
    Entidades.Enumerables.TipoUsuario tipoUsuario = Entidades.Enumerables.TipoUsuario.Cliente;
    string nombreUsuario = "";
    if(Session["Usuario"] != null) {
        Entidades.Usuario usuario = (Entidades.Usuario)Session["Usuario"];
        tipoUsuario =  usuario.TipoUsuario;
        nombreUsuario = usuario.Nombre + " " + usuario.Apellido;
    }

}




<header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="#">Daily.Web</a></h1>
         
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#services">Servicios</a></li>
                <li><a class="nav-link scrollto" href="#team">Equipo</a></li>
                <li><a class="nav-link scrollto" href="#testimonials">Clientes</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
                <li><a class="nav-link scrollto" href="#mapa">Ubicación</a></li>
                @{
                    if (tipoUsuario == Entidades.Enumerables.TipoUsuario.Administrador)
                    {
                        <li><a class="nav-item nav-link" href="/Usuarios/Index" id="panelAdmin">Gestión de Usuarios</a></li>
                    }
                }
                @{ if (Session["Usuario"] != null)
                    {
                        <li> <a class="nav-link scrollto active">Bienvenid@@  @nombreUsuario !</a></li>
                        <li><a class="nav-link scrollto" href="/Usuarios/Login">Cerrar Sesión</a></li>
                    }
                }

            </ul>


            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

    </div>
</header>
