<section id="services" class="services">
    <div class="container">

        <div class="section-title aos-init aos-animate" data-aos="zoom-out">
            <h2>Servicios</h2>
            <p>Soluciones a su medida</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="icon-box aos-init aos-animate" data-aos="zoom-in-left">
                    <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">Diseño web y móvil</a></h4>
                    <p class="description">Con la última tecnología y diseño responsive, logramos Sitios Web multiplataforma</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                <div class="icon-box aos-init aos-animate" data-aos="zoom-in-left" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-book" style="color: #e9bf06;"></i></div>
                    <h4 class="title"><a href="">Programación web</a></h4>
                    <p class="description">
                        Nos especializamos en desarrollo web. Ya sea que busques un diseño web profesional para mostrar servicios o simplemente un catálogo de tus productos,
                        en Daily Web te acompañamos en el proceso hasta obtener el sitio web ideal para tus objetivos.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
                <div class="icon-box aos-init aos-animate" data-aos="zoom-in-left" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">Alojamiento web</a></h4>
                    <p class="description">Elegí tu solución de alojamiento y creá el sitio web perfecto! Tenemos todo lo que necesitás, desde alojamiento compartido, hasta VPS.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="icon-box aos-init aos-animate" data-aos="zoom-in-left" data-aos-delay="300">
                    <div class="icon"><i class="bi bi-binoculars" style="color:#41cf2e;"></i></div>
                    <h4 class="title"><a href="">E-Commerce</a></h4>
                    <p class="description">Con robustos servicios de desarrollo de E-Commerce de Sculpt Media, usted puede asegurarse de que sus clientes pueden realizar sus compras en su sitio web con confianza y con facilidad</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5">
                <div class="icon-box aos-init aos-animate" data-aos="zoom-in-left" data-aos-delay="400">
                    <div class="icon"><i class="bi bi-globe" style="color: #d6ff22;"></i></div>
                    <h4 class="title"><a href="">Asesoramiento hardware empresarial</a></h4>
                    <p class="description">Asesoramiento respecto a cuales son los dispositivos de hardware que necesita obtener para su empresa, en relación a sus objetivos y presupuesto económico</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="icon-box aos-init aos-animate" data-aos="zoom-in-left" data-aos-delay="500">
                    <div class="icon"><i class="bi bi-clock" style="color: #4680ff;"></i></div>
                    <h4 class="title"><a href="">Community Management</a></h4>
                    <p class="description">Podemos brindarle asesoramiento respecto a la gestión de sus redes sociales y empresariales</p>
                </div>
            </div>
        </div>

    </div>
</section>