@{
    List<Entidades.ServicioEquipo> listServicios = Servicios.ServiciosEquipo.Listar();
}

<section id="services" class="services">

    
    <div class="services_features">

        <div class="section-title section-title1 aos-init aos-animate" data-aos="zoom-out">
            <h2>Servicios</h2>
            <p>Soluciones a su medida</p>
        </div>

        <div class="services_container">

          
            @foreach (var item in listServicios)
            {
            <div class="services_item">
                <div class="icon-box aos-init aos-animate">
                    @{ string urlmodificada = item.UrlIconoServicio;
                    }
                    <img src=@urlmodificada class="img-icon" alt="" width="80" height="80">

                    <h4 class="title"><a href="">@item.Titulo</a></h4>
                    <p class="text-justify w-75">@item.Descripcion</p>

                </div>
            </div>

            }

            
        </div>

    </div>
</section>