@{
    List<Entidades.ServicioEquipo> listServicios = Servicios.ServiciosEquipo.Listar();
}

<section id="services" class="services">

    
    <div class="container">

        <div class="section-title aos-init aos-animate" data-aos="zoom-out">
            <h2>Servicios</h2>
            <p>Soluciones a su medida</p>
        </div>

        <div class="row gap-3 justify-content-center">

          
            @foreach (var item in listServicios)
            {
            <div class="col-lg-5 col-md-6 mt-5 mt-md-0 ">
                <div class="icon-box aos-init aos-animate" data-aos="zoom-in-left" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-card-checklist" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">@item.Titulo</a></h4>
                    <p class="description">@item.Descripcion</p>

                </div>
            </div>

            }

            
        </div>

    </div>
</section>