<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link href="~/assets/img/icono_daily.web.svg" rel="icon">
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Error al procesar la solicitud.</h2>
    </hgroup>
</body>
</html>
